<% provide :title, t(".Home") %>
<h1><%= t ".Sample App" %></h1>
 <p>
  <%= t ".This is the home page for the" %><a href="http://www.railstutorial.org/"><%= t ".Ruby on Rails Tutorial" %></a>
  <%= t ".text" %>
 </p>
