<% provide :title, t(".text1") %>
<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".this_is_the_home_page_for_the" %><a href="http://www.railstutorial.org/"><%= t ".ruby_on_rails_tutorial" %></a>
  <%= t ".text" %>
</p>
